.signupScreen{
    margin-top: -20px;
    max-width: 250px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
   
}

.signupScreen > form {
    display: flex;
    flex-direction: column;
}


.signupScreen > form > h4{
    text-align: left;
    margin-top: 10px;
}
.signupScreen__gray{
    color: rgb(162, 156, 156);
}


.signupScreen > form > h1{
    text-align: left;
    margin-bottom: 25px;
    margin-top: -20px;
}
::placeholder{
    color: rgb(162, 149, 149);
}

.signupScreen > form > input{
    outline-width: 0;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 16px 20px;
    background-color: #333;
    color: white;
}

.signupScreen > form > button{
    padding: 12px 20px;
    font-size: 0.75rem;
    color: white;
    border-radius: 5px;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold
}
.signupScreen__link:hover{
    cursor: pointer;
    text-decoration: underline;
}
.signupScreen > form > h5{
    text-align: left;
    margin-top: 30px;
    font-weight: normal;
    color: grey;
}

.signupScreen > form > h6{
    text-align: left;
    margin-top: 10px;
    font-weight: normal;
}

.signupScreen__info{
    color: rgb(162, 149, 149);
}
.signupScreen__info__link{
    font-weight: bold;
    color: rgb(27, 128, 155);
}