.footer{
    margin-top: 20px;
    
}
.footerbar{
display: flex;
display: -webkit-flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
margin-bottom: auto;
color: grey;
border-top: 3px solid rgba(121, 115, 115, 0.197);
background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.415),
        rgb(54, 51, 51)
    );
}
.footerbar__infos  {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
 
}


.footerbar__infos__list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    padding: 30px;
    
}
.footerbar__infos__list__link > a{
    text-decoration: none;
    color: grey;
}

.footerbar__infos__list__link:hover{
    cursor: pointer;
    text-transform: capitalize;
    transform: scale(1.25);
    border: 0.5px solid ;
    

}
.footerbar__infos__list__link{
    flex-basis: 25%;
    color: grey;
    font-size: 13px;
} 

footer{
    font-family: cursive;
    font-size: small;
    margin-bottom: 20px;
    color: #fff;
}